body {
    display: grid;
    place-items: center;
}
button{
    height: 100px;
    width: 200px;
    margin: 100px 100px;
    font-size: 20px;
    border-radius: 10px;
}
#outcome{
    height: 200px;
    width: 400px;
    text-align: center;
    font-size: 25px;
}
table{
    border: 1px solid black;
    width: 400px;
    display: none;
    border-radius: 10px;
}
td{
    text-align: center;
}

@keyframes pulse {
    0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}
button:active {
    animation: pulse 0.1s linear;
    transform-origin: center center;
}